body {
    margin: 0;
    padding: o;
    text-align: center;
    font-family: 'Roboto', Arial
}

.container{
    width: 1000px;
    padding: 0 20px;
}

.bg-dark{
    background-color: #1F2937;
}

.text-white {
    color: #f9faf8;
}

.logo {
    margin: 0;
}

.nav{
    display: flex;
    list-style-type: none;
    gap: 20px
}

.navbar{
    display: flex;
    justify-content: center
}

.navbar .container{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
}

.mainBanner{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 30px;
    padding: 30px 0 70px 0;

}

.mainBannerDiv {
    flex:1;
    text-align: left;
}

.bannerImg {
    flex: 1;
    max-width: 450px;
    max-height: auto;
    border-radius: 5px;
}

.mainBannerDiv h1 {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    margin: 10px 0 10px 0;
}

.mainBannerDiv p {
    color: #f9faf8;
    font-size: 18px;
    color: #e5e7eb;
}

.mainBannerDiv button {
    background-color: #3882f6;
    font-size: 18px;
    font-weight: bold;
    color: #f9faf8;
    padding: 6px 30px;
    border: none;
    border-radius: 6px;
}

.cards img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px
}

.cards p {
    width: 200px;
    margin: 7px
}

.cardsSection h2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: bold;
    margin: 50px 0;
}

.cardsSection {
    margin-bottom: 50px;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 0 200px;
    padding-bottom: 40px;

}

.quote p {
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
    font-family: 'roboto';
    margin-bottom: 0;
    text-align: left;
}

.qouteName {
    text-align: right;
    padding: 100px;
    padding: 0;
}

.signUp {
    display: flex;
    justify-content: center;
}

.signUpBox {
    background-color: #3882f6;
    width: 800px;
    margin: 80px;
    border-radius: 7px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: Center;
    gap: 50px;
    padding: 40px;
}

.signUpText {
    text-align: left;
    
}

.signUpBox h2 {
    margin: 0;
}

.signUpBox p {
    margin: 0;
}

.signUpBox button {
    padding: 0px 10px;
    height: 40px;
    width: 150px;
    background-color: #3882f6;
    border: 2px solid white;
    color: white;
    border-radius: 7px;
    font-size: 18px;
    font-weight: bold;
}

footer {
    background-color: #1F2937;
    color: white;
    padding: 30px;
}